body {
  margin: 0;
}

.wrapper_graph {
  display: flex;
  justify-content: center;
}

.container_grafico {
  position: relative;
  width: 100%;
  overflow: auto;
  @media screen and (min-width: 1150px) {
    width: fit-content;
  }
}

#title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

#description {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

#tooltip {
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  width: 170px;
  flex-direction: column;
  gap: 5px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: inset 0px 0px 0 3px var(--box-shadow-color),
    0 0 0 5px black;
  -moz-box-shadow: inset 0px 0px 0 3px var(--box-shadow-color), 0 0 0 5px black;
  box-shadow: inset 0px 0px 0 3px var(--box-shadow-color), 0 0 0 5px black;
}

.county {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 1rem;
  min-width: 400px;
  max-width: 600px;
}

.table_periods {
  width: 100px;
}
thead {
  background-color: #eee;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
}
